html {
  height: 650px
}

body {
  height: 650px;
  background-color:  hsl(0, 0%, 81%);

}

.container {
 height: 100%;
 display: grid;
 grid-template-columns: 1fr;
 gap: 30px

}

.container .card {
  background: white;
  color: hsl(217, 19%, 35%);
  font-family: 'Barlow Semi Condensed', sans-serif;
  padding: 30px;
  border-radius: 10px;

}

.container .card .card-contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}

.container .card .card-contact .avatar {
  max-width: 30px;
  padding-right: 10px;

}

.container .card .card-contact .avatar img {
  width: 100%;
  border-radius: 100%;
  object-fit: contain;

}


/* COMUN CARD --------------------------------------------------------------*/

.card .name h3 {
  color:hsl(217, 19%, 35%);
  font-size: 13px;
  margin-bottom: 0;

}

.card .name p {
  color:hsl(0, 0%, 81%);
  opacity: 70%;
  font-size: 13px;
  margin-top: 0;

}

.card .card-text-white h3 {
  color:hsl(217, 19%, 35%)

}

/* COLOR CARD------------------------------------------------------------------------- */

.card .name-white h3 {
  color: white;
  font-size: 13px;
  margin-bottom: 0;

}

.card .name-white p {
  color:hsl(0, 0%, 81%);
  opacity: 70%;
  font-size: 13px;
  margin-top: 0;

}

.card .card-text-white h3 {
  color: white;

}

.card .card-text-white p {
  color:hsl(0, 0%, 81%);
  opacity: 70%;

}




/* VIOLET CARD---------------------------------------------------------------------------- */

.card.card-violet {
  background: hsl(263, 55%, 52%);

}


/* GREY CARD */

.card.card-grey {
  background: hsl(217, 19%, 35%);

}


/* BLUE CARD */

.card.card-blue {
  background:  hsl(219, 29%, 14%)
  
}



@font-face {
  font-family: 'Barlow Semi Condensed', sans-serif;
  src: url(/assets/statics/BarlowSemiCondensed-Light.ttf);

}



@media only screen and (min-width: 768px) {

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    gap: 20px;
    height:100%

  }

  .container .card {
    overflow:hidden

  }

  .container .card .card-text h3 {
    font-size: 22px ;

  }

  .container .card .card-text-white h3 {
    font-size: 20px;

  }


  /* CARD-VIOLET ----------------------------*/

  .container .card.card-violet {
    grid-column: 1/3;
    
  }


/* CARD-BLUE------------------------------*/

  .container .card.card-blue {
    grid-column: 2/4;

  }

  /* COMUN-CARD----------------------------*/

  .container .card.card-small {
    grid-column: 1/2;
    grid-row: 2;

  }

  .container .card.card-big {
    grid-column: 4/5;
    grid-row: 1/3;

  }

  


