html {
  height: 100%;
}

body {
  height: 100%;
  background-color:  #cfcfcf;
  flex-direction: column; /* agregar display flex y justify content center */
  align-items: center;
  padding: 0;
  margin: 0
}
/*

al container inicial no le daria display grid

.container {
  max-height: 100%;
  padding: 30px;
}

y faltaria darle margin bottom a cada card solo para mobile o pisarlo en los otros

*/
.container {
  height: 100%;
  display: grid;
  grid-template-areas: "a"
                      "b"
                      "c"
                      "d"
                      "e"
                      "f" ;
  grid-template-columns: 1fr;
  gap: 30px
}

.card.grid-1 {
  grid-area: a
}

.card.grid-2 {
  grid-area: b
}

.card.grid-3 {
  grid-area: c
}

.card.grid-4 {
  grid-area: d
}

.card.grid-5 {
  grid-area: e
}


/*-----------------COMUN CARD -------------------------*/

/*
  en card el color sobra, el color se le da a los elementos de texto (p, span, h1/h6, etc)

*/
.card {
  background: white;
  color: #48556a;
  font-family: 'Barlow Semi Condensed', sans-serif;
  padding: 30px;
  border-radius: 10px;
}

.card .card-contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.card .card-contact .avatar {
  max-width: 30px;
  padding-right: 10px;
}

.card .card-contact .avatar img {
  width: 100%;
  border-radius: 100%;
  object-fit: contain;
}

.card .name h3 {
  color:#48556a;
  font-size: 13px;
  margin-bottom: 0;
}

.card .name p {
  opacity: 70%;
  font-size: 13px;
  margin-top: 0;
  color: #48556a
}

.card .card-text {
  color:#48556a
}

.card .card-text {
  font-size: 15px;
}


/*--------COLOR CARDS --------------------------*/


.card.card-dark .card-contact h3 {
  color: #ffffff;
}

.card.card-dark .card-contact p {
  color: #ffffff;
}

.card.card-dark .card-text h3 {
  color: #ffffff;
}

.card.card-dark .card-text p {
  color: #ffffff;
  opacity: 70%;
  font-size: 15px;
}


.card.card-dark.bg-violet {
  background:  #7541c8
}

.card.card-dark.bg-black {
  background: #48556a;
}

.card.card-dark.bg-blue {
  background: #19212e;
}


/* la font tiene que ir al principio asi lo carga lo antes posible */
/*----------------FONT FACE ---------------------*/

@font-face {
  font-family: 'Barlow Semi Condensed', sans-serif;
  src: url(/assets/statics/BarlowSemiCondensed-Light.ttf);
}



/*---------------RESPONSIVE ---------------------*/

@media only screen and (min-width: 800px) {
  .container {
      display: grid;
      height: 100%; /* eliminar */
      padding: 30px;
      grid-template-columns: 50%;
      grid-template-areas:
          "a c"
          "e e"
          "d b";
      padding: 30px;
  }
/* en esta linea debe cerrar el media query, falta } */

@media only screen and (min-width: 1100px) {

.container {
  display: grid;
  grid-template-areas:  "a a b c"
                        "d e e c";
  height: 100%; /* eliminar */
  padding: 30px;
  grid-template-columns: 25%;
  grid-template-rows: 50%;
}

.card {
  overflow: hidden;
}

}

/* limpiar todos los espacios en blanco y mejorar indentacion */



} /* este sobra*/


